@import '../mixins/neat/neat-helpers';

// settings
$column: 60px; 
$gutter: 44px;
$grid-columns: 12;
$max-width: 1200px;
// $visual-grid: true;

// breakpoints
$mobile: new-breakpoint(min-width 320px);
$tablet: new-breakpoint(min-width 720px);
$screen: new-breakpoint(min-width 1200px);
$screen-xl: new-breakpoint(min-width 1600px);
