.about-container {
	@include span-columns(5);
	@include shift(4);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	p {
		font-size: 16px;
		line-height: 40px;
	}

	h2 {
		font-weight: bold;
	}
}