.about-container-outer {
	height: 100%;
	@include outer-container;
	position: relative;

	.about-container-inner {
		position: absolute;
		padding-top: 100px;
		padding-bottom: 100px;
		padding-left: 10px;
		padding-right: 10px;

		h2 {
			font-weight: 400;
			font-size: 40px;
			color: $black;
		}

		/**
		*
		* MEDIA QUERIES
		*
		*/

		@include media($mobile) {
			@include span-columns(10);
			@include shift(1);

			.about-left {
				h3 {
					font-size: 16px;
					font-weight: 400;
				}
			}

			.email-link {
				color: $hover;
				padding-bottom: 2px;
				border-bottom: 2px solid $hover;
			}

			p {
				font-size: 16px;
				line-height: 44px;
			}

			.job-link {
				color: $hover;
			}

			.job-link:hover {
				padding-bottom: 2px;
				border-bottom: 2px solid $hover;
			}
		}

		@include media($tablet) {
			@include span-columns(10 of 12);
			@include shift(1);
			top: 50%;
			transform: translateY(-50%);
		}

		@include media($screen) {
			@include span-columns(10);
			@include shift(1);

			.about-right {
				@include span-columns(6 of 10);
			}

			.about-left {
				text-align: right;
				margin-top: -12px;
				@include span-columns(4 of 10);

				h3 {
					font-size: 18px;
				}
			}
		}
	}
}