.button-container-outer {
	.button-container {
		background: white;
		border: 2px solid $black;
		height: 44px;
		text-align: center;
		font-size: 16px;
		line-height: 40px;
		width: 150px;
	}

	.button-container:hover {
		background: $black;
		color: white;
	}
}
