.button-container.pdf-container {
	position: absolute;
	top: 0;
	right: 0;
}

.button-container {
	width: 120px;
	border: 2px solid $darkgray;
	border-radius: 3px;
	height: 40px;
	text-align: center;

	.button-text {
		font-size: 14px;
		letter-spacing: 0.25px;
		line-height: 38px;
	}
}