.button-container {
	background: white;
	border: 2px solid $darkgray;
	border-radius: 3px;
	height: 40px;
	text-align: center;

	.button-text {
		font-size: 14px;
		letter-spacing: 0.25px;
		line-height: 38px;
	}

	@include media($mobile) {
		bottom: 0;
		@include span-columns(10);
		@include shift(1);
	}

	@include media($screen-xl) {
		top: 0;
		right: 0;
		width: 120px;
	}
}