.contact-container-outer {
	@include outer-container;
	position: relative;
	height: 100%;
}

.contact-container-inner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	/**
	*
	* MEDIA QUERIES
	*
	*/

	@include media($mobile) {
		@include span-columns(10 of 12);
		@include shift(1);

		li {
			list-style-type: none;
			color: $lightgray;
			font-size: 16px;
			line-height: 40px;
		}
	}

	@include media($screen-xl) {
		@include span-columns(12);
		@include shift(0);

		.contact-left {
			@include span-columns(6);

			li {
				@include span-columns(1 of 6);
				font-size: 18px;
				line-height: 44px;
			}

			.label {
				font-size: 36px;
			}
		}

		.contact-links {
			@include span-columns(6);
		}
	}

	.icon-container {
		height: 40px;
	}

	.icon {
		max-width: 22px;
		width: 22px;
		height: 40px;
	}

	ul {
		padding: 0;
		margin: 0;
	}
}