/**
* THIS OMEGA RESET WAS DRIVING ME NUTS
* THANK YOU to Josh Fry:
* http://www.joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat
* http://stackoverflow.com/questions/23375792/how-to-change-the-number-of-automatic-columns-across-media-queries-in-neat
*/

@mixin omega-reset($nth) {  
	&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	&:nth-child(#{$nth}+1) { clear: none }
}

.grid-projects-container-outer {
	@include outer-container;

	.grid-projects-container-inner {
		@include outer-container;
		position: absolute;
		padding-top: 100px;
		padding-bottom: 100px;
		padding-left: 1px;
		padding-right: 1px;

		/**
		*
		* MEDIA QUERIES
		*
		*/

		@include media($mobile) {
			@include span-columns(10);
			@include shift(1);

			.grid-item-link {
				@include span-columns(10 of 10);
				margin-top: 16px;
				margin-bottom: 16px;
				padding-bottom: 40px;
			}

			.grid-item-container-hover {
				visibility: hidden;
				pointer-events: none;
			}

			.grid-projects-label {
				font-weight: 400;
			}

			.grid-item-container {
				p.title-container {
					font-size: 16px;
					padding-bottom: 16px;
					border-bottom: 1px solid $black;
				}

				.grid-item-container-content {
					margin-top: 28px;
				}
			}
		}

		@include media($tablet) {
			@include span-columns(10 of 12);
			@include shift(1);

			.grid-projects-label {
				display: none;
			}

			.grid-item-link {
				@include span-columns(5 of 10);
				@include omega(2n);
				border-top: 1px solid $black;
				padding-bottom: 0px;
			}

			.grid-item-container {
				p.title-container {
					padding-top: 16px;
					padding-bottom: 16px;
					border-bottom: none;
				}

				.grid-item-container-content {
					margin-top: 0px;
				}
			}

			.grid-item-container-hover {
				visibility: visible;
				pointer-events: auto;
				line-height: 40px;
				font-size: 22px;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 40px;
				opacity: 0;
				transition: opacity .35s ease-in-out;
				color: transparent;
			}
		}

		@include media($screen) {
			.grid-item-container-hover {
				line-height: 48px;
				font-size: 30px;
			}
		}

		@include media($screen-xl) {
			@include span-columns(12);
			@include shift(0);

			.grid-item-link {
				@include span-columns(4);
				@include omega-reset(2n);
				@include omega(3n);
			}
		}

		/**
		*
		* DO NOT TOUCH ANYTHING BELOW THIS LINE
		*
		*/


		/**
		* this did the trick:
		* http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
		*/
		

		.grid-item-container-content {
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		.grid-item-container-content:after {
			padding-top: 100%;
			display: block;
			content: '';
		}

		.grid-item-container-hover:hover {
			background: $hover;
			opacity: 0.85;
			font-weight: bold;
			color: white;
		}
	}
}

/**
*
* BACKGROUND IMAGE LINKS
*
*/

.grid-item-container-content#little-renders {
	background-image: url('/assets/projects/little-renders/render_thumb.png');
}

.grid-item-container-content#euphonious {
	background-image: url('/assets/projects/euphonious/euphonious_thumb.png');
}

.grid-item-container-content#chinafile {
	background-image: url('/assets/projects/chinafile/chinafile_thumb3.png');
}

.grid-item-container-content#pocktvr {
	background-image: url('/assets/projects/pocktvr/pocktvr_thumb2.png');
}

.grid-item-container-content#galaxy-vis {
	background-image: url('/assets/projects/galaxy/galaxy_thumb.png');
}

.grid-item-container-content#vidcoach {
	background-image: url('/assets/projects/vidcoach/vidcoach_thumb.png');
}

.grid-item-container-content#kodak-memory-observatory {
	background-image: url('/assets/projects/memory-observatory/memory-observatory_thumb.png');
}

.grid-item-container-content#feminist-hackerspace-research {
	background-image: url('/assets/projects/feminist-hackerspaces/feminist-hackerspace_thumb.png');	
}