.header-container-outer {
	@include outer-container;
	background: $white;
	position: relative;
}

div.page.header {
	border: 1px solid green;
	background: $white;
	position: fixed;
	z-index: 9999;
	top: 0px;

	@include media($mobile) {
		@include span-columns(10);
		@include shift(1);
	}

	@include media($screen-xl) {
		@include span-columns(12);
		@include shift(0);
	}

	h2 {
		margin-top: 0px;
	}

	.page.header-divider {
		margin-top: -8px;
		margin-left: -1px;
		margin-bottom: 0px;
		height: 3px;
		width: 28px;
		background-color: $highlight;
	}
}