.header-container-outer {
	@include outer-container;
	z-index: 9999;
	position: relative;
}

div.page.header {
	@include outer-container;
	background: $white;
	border-bottom: 1px solid $black;
	height: 80px;
	position: fixed;
	top: 0p;

	@include media($mobile) {
		@include span-columns(10);
		@include shift(1);
	}

	@include media($screen-xl) {
		@include span-columns(12);
		@include shift(0);
	}

	h2 {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 0px;
		color: $black;
		font-weight: normal;
		display: inline-block;
	}

	.page.header-divider {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 20px;
		height: 3px;
		width: 28px;
		background-color: $black;
	}
}