.header-container-outer {
	@include outer-container;
	z-index: 9999;
	position: relative;
}

#project.page.header, #resume.page.header {
	@include media($mobile) {
		border-bottom: 2px solid $divider-gray;
	}

	@include media($screen) {
		border-bottom: 2px solid $white;
	}
}

div.page.header {
	background: $white;
	position: fixed;
	top: 0px;
	// left: -2px;
	margin-left: -2px;
	padding-bottom: 20px;

	@include media($mobile) {
		@include span-columns(10);
		@include shift(1);
		padding-top: 20px;
	}

	@include media($screen) {
		padding-top: 40px;
	}

	@include media($screen-xl) {
		@include span-columns(12);
		@include shift(0);
		border-bottom: none;
	}

	h2 {
		margin-top: 0px;
		color: $black;
		font-weight: bold;
	}

	.page.header-divider {
		margin-top: -8px;
		margin-left: -1px;
		margin-bottom: 0px;
		height: 3px;
		width: 28px;
		background-color: $highlight;
	}
}