@mixin vertical-align {
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-70%);
	-ms-transform: translateY(-70%);
	transform: translateY(-70%);
}

.landing-container {
	@include span-columns(12);
	@include pad();
	// border: 2px solid orange;
	@include vertical-align;
}

.header {
	@include span-columns(4);
	// border: 2px solid green;
}

h1 {
	font-weight: normal;
	color: $black;
	font-size: 48px;
	letter-spacing: 1.2px;
	line-height: 65px;
	margin: 0px;
	padding: 0px;
}

.header-divider {
	margin-top: 35px;
	margin-bottom: 25px;
	margin-left: 2px;
	height: 3px;
	width: 25px;
	background-color: $black;
}

p {
	line-height: 28px;
	font-size: 16px;
	letter-spacing: 0.55px;
	color: $darkgray;
	margin: 0;
}
