@mixin vertical-align {
		position: relative;
    top: 65%;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
}

.landing-container {
	@include span-columns(12);
	// border: 2px solid orange;
	@include vertical-align;
}

.landing.nav-container {
	@include span-columns(12);
}

.header {
	@include span-columns(4);
	// border: 2px solid green;
}

h1 {
	font-weight: normal;
	color: $black;
	font-size: 48px;
	letter-spacing: 1.2px;
	line-height: 65px;
}

.divider {
	margin: 0;
}

p {
	line-height: 28px;
	font-size: 16px;
	letter-spacing: 0.55px;
	color: $darkgray;
	margin: 0;
}
