.nav-container {
	@include span-columns(5);
	margin-top: 30px;
}

.nav-links {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
	margin: 0;

	.nav-link {
		list-style-type: none;
		flex-grow: 0.1;
		color: $darkgray;
		letter-spacing: 0.55px;
		display: inline-block;
	}
}

