.nav-container-outer {
	@include outer-container;
	z-index: 9999;
	position: relative;
}

.nav-container-inner {
	@include outer-container;
	background: $white;
	border-top: 1px solid $black;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 80px;
	line-height: 20px;

	@include media($mobile) {
		@include span-columns(10);
		@include shift(1);
		bottom: 0px;
	}

	@include media($screen-xl) {
		@include span-columns(12)
		@include shift(0);
	}

	.nav-links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;

		.nav-divider {
			font-size: 20px;
		}

		/* underline styling from http://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
		a.nav-link {
			position: relative;
			font-size: 14px;
		}

		a.nav-link:hover {
			color: $black;
		}

		a.nav-link:before, a.nav-link-active:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -3px;
			left: 0;
			background: $highlight;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.2s ease-in-out 0s;
			transition: all 0.2s ease-in-out 0s;
		}

		a.nav-link:hover:before {
			@include media($mobile) {
				visibility: none;
			}

			@include media($screen) {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}
		}

		a.nav-link-active:before {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}


	.ul-container {
		@include media($mobile) {
			max-width: 350px;
		}

		@include media($tablet) {
			width: 350px;
		}
	}

}