.project-container-outer {	
	@include span-columns(12);
	height: 100%;
	border: 1px solid blue;
	
	@include media($mobile) {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding-top: 80px;
		padding-bottom: 80px;
	}

	@include media($screen-xl) {
		padding-top: 40px;
		padding-bottom: 0px;
	}
}

.project-container-inner {
	border: 1px solid purple;
	@include media($mobile) {
		@include span-columns(10);
		@include shift(1);
		// margin-top: 80px;
		// padding-bottom: 80px;
	}

	@include media($screen-xl) {
		@include span-columns(12);
		@include shift(0);
		// padding-top: 40px;
		// padding-bottom: 0px;
	}

	div {
		padding-bottom: 20px;
	}

	h2 {
		padding-bottom: 12px;
		font-size: 18px;
	}

	li {
		line-height: 28px;
	}
}


.underline {
	border-bottom: 2px solid #E7E7E7;
}

.project-info-container {
	height: 100%;

	@include media($mobile) {
		@include span-columns(12);
	}

	@include media($screen-xl) {
		@include span-columns(4);
		@include shift(0);
	}
}

.description-container {
	@include fill-parent;
	// border: 1px solid blue;
}

.project-images-links-container {
	// border: 1px solid black;
	// height: 100%;
	iframe {
		@include fill-parent;
	}
	img {
		@include fill-parent;
	}

	@include media($mobile) {
		@include span-columns(12);
	}

	@include media($screen-xl) {
		@include span-columns(7.5);
		@include shift(0.5);
	}
}

.back {
	@include media($mobile) {
		display: none;
	}

	@include media($screen-xl) {
		display: inline;
		float: left;
		margin-left: -40px;
		height: 24px;
	}
}