.project-container {
	@include span-columns(10);
	@include shift(1);

	div {
		padding-bottom: 20px;
	}

	h2 {
		padding-bottom: 12px;
		font-size: 18px;
	}

	li {
		line-height: 28px;
	}
}

.underline {
	border-bottom: 2px solid #E7E7E7;
}

.project-info-container {
	@include span-columns(4 of 12);
	height: 100%;
}

.description-container {
	@include fill-parent;
}

.project-images-links-container {
	@include span-columns(7.5 of 12);
	@include shift(0.5);
	// border: 1px solid black;
	height: 100%;

	img {
		@include fill-parent;
	}
}

.back {
	float: left;
	margin-left: -40px;
	height: 24px;
}

.test-container {
	@include span-columns (4 of 7);
}

.website-container {
	border: 2px solid $darkgray;
	border-radius: 3px;
	max-width: 225px;
	height: 50px;
	text-align: center;

	h2 {
		padding: 0px;
		line-height: 12px;
	}

	img.forward {
		vertical-align: middle;
		margin-top: -2px;
		margin-left: 12px;
		height: 22px;
		width: 30px;
		// border: 1px solid blue;
	}
}