.projects-menu-container {
	@include span-columns(5);
	@include shift(3.5);
	position: absolute;
	top: 50%;
	transform : translateY(-50%);

	ul {		
		li {
			color: $lightgray;
			font-size: 16px;
			line-height: 40px;
			letter-spacing: 0.35px;
		}
	}
}

.title-container {

	border-bottom: 2px solid #E7E7E7;

	a {
		text-decoration: none;
	}
}

.title-container:hover {
	border-bottom: 2px solid $darkgray;
	cursor: pointer;
}

// span.outer a:hover {
// 	color: yellow;
// 	text-decoration: line-through;
// }

// span.inner {
// 	color: $darkgray;
// }