.project-container-outer {	
	@include outer-container;
	min-height: 100%;
	z-index: -1;

	@include media($mobile) {
		@include pad(80px 0px 40px 0px);
	}

	@include media($screen-xl) {
		@include pad(default 0px default 0px);
	}
}

#feminist-hackerspace-research.project-container-inner {
	@include media($mobile) {
		@include span-columns(10);
		@include shift(1);
		overflow-y: auto;	
		margin-top: 20px;
	}

	@include media($tablet) {
		margin-top: 40px;
	}

	@include media($screen) {
		margin-top: 60px;
	}

	@include media($screen-xl) {
		@include span-columns(12);
		@include shift(0);
	}
}

.banner-container {
	@include media($mobile) {
		@include fill-parent;

		.banner-image {
			padding-top: 20px;
			@include fill-parent;
		}
	}
	
	@include media($tablet) {
		display: none;
	}
}

.project-container-inner {
	height: 100%;
	padding-left: 4px;
	padding-right: 4px;

	@include media($mobile) {
		@include span-columns(10);
		@include shift(1);
		overflow-y: auto;	
	}

	@include media($tablet) {
		margin-top: 20px;
	}

	@include media($screen) {
		margin-top: 40px;
	}

	@include media($screen-xl) {
		@include span-columns(12);
		@include shift(0);
		margin-top: 60px;
	}

	.project-content-container {
		padding-bottom: 20px;
		@include media($mobile) {
			border-bottom: 2px solid $divider-gray;
		}

		@include media($screen) {
			border-bottom: 2px solid $white;
		}
	}

	h2 {
		font-size: 18px;
		font-weight: bold;
		color: $black;

		@include media($mobile) {
			padding-bottom: 0px;
			margin-bottom: 4px;
		}

		@include media($screen) {
			padding-bottom: 12px;
			margin-bottom: 12px;
		}
	}

	li {
		line-height: 28px;
	}
}

.project-info-container {
	min-height: 100%;

	@include media($mobile) {
		@include span-columns(12);
	}

	@include media($tablet) {
		@include span-columns(4);
		@include shift(0);
	}
}

.description-container {
	@include fill-parent;
}

.project-images-links-container {
	iframe {
		@include fill-parent;
	}

	img {
		@include fill-parent;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	@include media($mobile) {
		@include span-columns(12);
	}

	@include media($tablet) {
		@include span-columns(7.5);
		@include shift(0.5);
	}
}

.back {
	@include media($mobile) {
		display: none;
	}

	@include media($tablet) {
		display: inline;
		float: left;
		margin-left: -40px;
		height: 24px;
	}
}