.resume-container {
	@include span-columns(12);
	// border: 1px solid blue;

	h3 {
		font-size: 20px;
		letter-spacing: 0.55px;
	}

	p {
		font-size: 18px;
		letter-spacing: 0.45px;
		line-height: 36px;
	}
}

.content {
	@include span-columns(5 of 10);
}

// a.publication-title, a.publication-title:hover, a.publication-title:active, a.publication-title:visited {
// 	font-weight: bold;
// 	color: #4A90E2;
// 	text-decoration: none;
// }