.resume-container {
	@include span-columns(12);
}

h3 {
	padding: 0;
	margin: 0;
}

.section-container {
	@include span-columns(12);
	// border: 1px solid orange;
	margin-bottom: 40px;
}

.label-container {
	@include span-columns(3);
}

.content {
	@include span-columns(7);
	// border: 1px solid orange;
}

.emphasize {
	font-weight: bold;
}

