.resume-container {
	@include span-columns(8);
	@include shift(2);
	// border: 2px solid green;
}

h3 {
	padding: 0;
	margin: 0;
}

.label-container {
	// border: 1px solid blue;
	@include span-columns(3 of 8);
}

.content {
	@include span-columns(5 of 8);
	// border: 1px solid green;
}

.emphasize {
	font-weight: bold;
}

a.publication-title, a.publication-title:hover, a.publication-title:active, a.publication-title:visited {
	font-weight: bold;
	color: #4A90E2;
	text-decoration: none;
}

