@import 'mixins/bourbon/bourbon';
// @import 'mixins/neat/settings/grid';
@import 'mixins/neat/neat';
@import 'base/variables';
@import 'components/nav';
@import 'components/about';
@import 'components/landing';
@import 'components/resume';

html, body {
	height: 100%;
	margin: 0;
}

.app-container {
	@include span-columns(12);
	height: 100%;
	// border: 1px solid blue;
	padding-top: 60px;
	padding-bottom: 60px;
}

.content-container {
	@include pad();
	height: 100%;
	// border: 1px solid black;
}

#app {
	@include outer-container();
	height: 100%;
	font-family: $karla-sans;
	color: $darkgray;
} 