@import 'mixins/bourbon/bourbon';
@import 'layout/grid-settings';
@import 'mixins/neat/neat';
@import 'base/variables';
@import 'components/nav';
@import 'components/header';
@import 'components/button';
@import 'components/about';
@import 'components/landing';
@import 'components/resume';
@import 'components/contact';
@import 'components/projects';
@import 'components/project';

html, body {
	height: 100%;
	margin: 0;

	div {
		// border: 1px solid blue;
	}
}

#app {
	@include outer-container();
	height: 100%;
	font-family: $karla-sans;
	color: $darkgray;
	// letter-spacing: 0.15px;
	overflow: hidden;

	@include media($mobile) {
		@include pad(0px 0px 0px 0px);
	}

	@include media($screen-xl) {
		@include pad(20px 0px 20px 0px);
	}
} 

.app-container-inner {
	@include span-columns(12);
	height: 100%;
	position: relative;
	overflow: hidden;

	@include media($mobile) {
		@include pad(0px 0px 0px 0px);
	}

	@include media($screen-xl) {
		@include pad(default 0px default 0px);
	}
}

.content-container {
	@include span-columns(12);
	height: 100%;
}

a {
	text-decoration: none;
	color: $darkgray;
}

a:visited {
	color: $darkgray;
}

h2 {
	line-height: 24px;
	font-size: 20px;
	font-weight: 400;
}

ul{
	padding: 0;
	margin: 0; 

	li {
		list-style-type: none;
		color: $lightgray;
	}
}

p {
	line-height: 28px;
	font-size: 16px;
	color: $darkgray;
	margin: 0px;
}