// fonts
@import url(https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

$karla_sans: 'Karla', sans-serif;
$inconsolata_mono: 'Inconsolata', monospace;

// colors
$lilac: #FFF0F6;
$lightgray: #F9F9F9;
$darkgray: #4A4A4A;
$black: #000000;